<footer class="footer-container">
  <div class="mayinterestyou-container">
    <P>TE PUEDE INTERESAR</P>
    <div class="mayinterestyou-links">
      <a href="#">TIRO ALTO</a>
      <a href="#">TIRO MEDIO</a>
      <a href="#">JEANS SKINNY FIT</a>
      <a href="#">JEANS CORPPED FIT</a>
      <a href="#">JEANS NEGROS</a>
      <a href="#">JEANS AZULES</a>
    </div>
  </div>
  <div class="footerlinks-container">
    <div class="footerlinks-group">
      <p>ÚNETE A DUTTI</p>
      <div class="footerlinks-group--links">
        <a href="#">DESCARGA NUESTRA APP</a>
        <a href="#">SUSCRÍBETE A LA NEWSLETTER</a>
      </div>
    </div>
    <div class="footerlinks-group">
      <p>AYUDA</p>
      <div class="footerlinks-group--links">
        <a href="#">WHATSAPP</a>
        <a href="#">CONTACTO</a>
        <a href="#">PREGUNTAS FRECUENTES</a>
        <a href="#">ACCESIBILIDAD</a>
        <a href="#">LOCALIZAR TU PEDIDO</a>
        <a href="#">RECUPERAR TICKET DE TIENDA</a>
        <a href="#">TICKET A FACTURA</a>
      </div>
    </div>
    <div class="footerlinks-group">
      <p>SOCIAL</p>
      <div class="footerlinks-group--links">
        <a href="#">INSTAGRAM</a>
        <a href="#">TIKTOK</a>
        <a href="#">FACEBOK</a>
        <a href="#">PINTEREST</a>
        <a href="#">YOUTUBE</a>
      </div>
    </div>
    <div class="footerlinks-group">
      <p>SERVICIOS</p>
      <div class="footerlinks-group--links">
        <a href="#">SERVICIOS</a>
        <a href="#">TARJETA REGALO</a>
        <a href="#">DUTTI FEEL</a>
        <a href="#">INFORMACIÓN DE ENVÍO</a>
        <a href="#">PERSONAL TAILORING</a>
      </div>
    </div>
    <div class="footerlinks-group">
      <p>LEGAL</p>
      <div class="footerlinks-group--links">
        <a href="#">CONDICIONES DE COMPRA</a>
        <a href="#">POLÍTICA DE PRIVACIDAD</a>
        <a href="#">POLÍTICA DE DEVOLUCIONES</a>
        <a href="#">INFORMACIÓN SOBRE COOKIES</a>
        <a href="#">CONFIGURACIÓN DE COOKIES</a>
        <a href="#">BAJA DE LA NEWSLETTER</a>
      </div>
    </div>
    <div class="footerlinks-group">
      <p>EMPRESA</p>
      <div class="footerlinks-group--links">
        <a href="#">SOBRE DUTTI</a>
        <a href="#">LOCALIZADOR DE TIENDAS</a>
        <a href="#">PRENSA</a>
        <a href="#">ENVÍANOS TU CV</a>
      </div>
    </div>
</div>
<div class="footerlogo-container">
    <img src="assets/dutti-logo.png" alt="Dutti Logo Black" />
</div>
<div class="merchandlanguaje-container">
    <p>Cambiar mercado:</p>
    <a href="#">ESPAÑA (€)</a>
    <div class="merchandlanguage-links">
        <a href="#" id="isSelected">ESPAÑOL</a>
        <a href="#">CATALÀ</a>
        <a href="#">GALEGO</a>
        <a href="#">EUSKARA</a>
        <a href="#">ENGLISH</a>

    </div>
</div>
</footer>
