section{
  background-color: var(--color-light-gray);
}
.filter-results-and-layout-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: var(--spacing-12);
  padding-top: var(--spacing-16);
  padding-bottom: var(--spacing-32);
  padding-left: var(--spacing-24);
  padding-right: var(--spacing-24);
  /* WHEN SCROLLING */
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.709);
    z-index: var(--z-index-1);  
}
.filter-results {
  display: flex;
  gap: var(--spacing-32);
}
.filter-results a{
  color: var(--color-black);
  font-size: 0.9rem;
  cursor: pointer;
}
#isSelected{
  font-weight: bold;
}
.filter-results a:hover, #isSelected:hover{
  color: var(--color-black-scale-500);
}
.layout-actions {
  display: flex;
  gap: var(--spacing-32);
  font-size: 0.9rem;
}
.icon-grid {
  background-color: transparent;
  width: 1.2rem;
  height: 1.2rem;
}
.product-type{
  font-size: 0.9rem;
  height: 80px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 24px;
  margin-top: 80px;
}
.product-type h3{
  font-family: var(--font-family);
}