.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.05rem;
}
.product-card {
  padding: 0.05rem;
  text-align: center;
  transition: transform 0.2s ease;
  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  }
  .img {
    width: 100%;
    height: auto;
    object-fit: cover
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: var(--font-family);
    padding: 0.5rem 0 1rem 0.5rem;
    h3 {
      font-size: 0.9rem;
      font-weight: 500;
    }
    .price {
      font-size: 0.9rem;
      color: var(--color-primary-900);
    }
  }
}
